{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Chytrá pěna{% endblock %}
{% block description %}{{ parent() }}Stříkaná pěnová izolace je v současnosti materiál s nejlepšími izolačními vlastnostmi.{% endblock %}
{% block keywords %}{{ parent() }}chytrá pěna, izolace, pěnová izolace, stříkaná pěnová izolace, PUR pěna, stříkaná izolace, stříkaná pěna, podkroví, střecha, stěny, stropy, podlaha, fasáda, základy,{% endblock %}

{% block body %}
    <section class="page-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Chytrá pěna</h2>
                    <h3 class="section-subheading text-muted">
                        <strong>Stříkaná pěnová izolace</strong> známá pod názvy <strong>PUR pěna</strong>, <strong>stříkaná izolace</strong>, <strong>stříkaná pěna</strong>, <strong>pěnová izolace</strong>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-home fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Rodinný dům zateplíme už za 1 den</h4>
                    <p class="text-muted">
                        <strong>Správně izolovaný a těsný dům</strong> si během zimních měsíců uchovává teplo a v létě pak chládek,
                        protože v zimě brání úniku teplého vzduchu a v létě naopak vnikání teplého vzduchu.
                        <strong>Stříkaná izolace</strong> je díky svým vlastnostem vhodná pro <strong>kompletní zateplení obytných domů</strong>.
                        Stříkanou izolaci můžeme aplikovat kdekoliv v domě:
                        podkroví, střecha, stěny, stropy, podlaha, fasáda, základy.
                    </p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-danger"></i>
            <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Materiál v čase nemění své izolační vlastnosti</h4>
                    <p class="text-muted">
                        <strong>Stříkaná izolační pěna</strong> - po její aplikaci nevznikají žádné netěsnosti a tepelné mosty,
                        ale díky jejím izolačním schopnostem lze <strong>reálně snížit náklady na vytápění až o 50%</strong>.
                        Nejvíce žádaná <strong>tepelná izolace</strong> současné doby, jedná se o <strong>zateplení nové generace</strong>
                        - bezvadně přilne ke všem materiálům. Plánujete kvalitně, účinně a moderně zateplit Vaši nemovitost?
                        <strong>Polyuretanová stříkané izolace</strong> spoří náklady i čas.
                    </p>
                </div>
                <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-success"></i>
            <i class="fas fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
                    <h4 class="service-heading">Nejkvalitnější a nejúčinější tepelná izolace</h4>
                    <p class="text-muted">
                        Používáme pěnu předního výrobce, kterou profesionálně aplikujeme za dodržení všech standardů kvality.
                        Výhody pěnové izolace znamenají <strong>snížení energetické spotřeby</strong>, které má za následek výraznou úsporu finanční.
                        <strong>Stříkaná pěnová izolace</strong> je v současnosti materiál s nejlepšími izolačními vlastnostmi.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
