{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Stříkaná izolace{% endblock %}
{% block description %}{{ parent() }}Tepelná stříkaná pěnová multifunkční izolace nové generace.{% endblock %}
{% block keywords %}{{ parent() }}stříkaná, izolace, stříkaná izolace, tepelná, pěnová, zateplení, PUR,{% endblock %}

{% block body %}
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Tepelná stříkaná pěnová izolace</h2>
                    <h3 class="section-subheading text-muted">Provádíme zateplování domů stříkanou pěnou.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/penova-izolace-1.jpg" alt="">
                        <h4 class="text-warning">Rychlé a kvalitní zateplení</h4>
                        <p class="text-muted">Řešením je stříkaná izolace PUR pěnou považována za nejlepší izolaci vůbec.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/penova-izolace-2.jpg" alt="">
                        <h4 class="text-danger">Rychlá návratnost investic</h4>
                        <p class="text-muted">Stříkaná pěnová izolace zachovává neměnné parametry po celou dobu životnosti stavby</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/penova-izolace-3.jpg" alt="">
                        <h4 class="text-success">Multifunkční izolace pro váš dům</h4>
                        <p class="text-muted">Jedná se o zateplení nové generace, která bezvadně přilne ke všem materiálům.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
